.placeholderInline {
  display: flex;
}

.placeholder {
  margin-right: 5px;
}

.input {
  width: 100%;
  background: var(--bg-color);
  border: 1.5px solid var(--primary-color);
  border-radius: 5px;
  color: var(--primary-color);

  &:focus {
    outline: 1.5px solid var(--inverted-primary-color);
  }
}
