.input {
  width: 99.8%;
  background: var(--bg-color);
  border-radius: 5px;
  border: 1.5px solid var(--primary-color);
  color: var(--primary-color);

  &:focus {
    outline: 1.5px solid var(--inverted-primary-color);
  }
}

.placeholderInline {
  display: flex;
  margin-right: 5px;
}

.readonly {
  opacity: 0.7;
}
