.app_light_theme {
  --bg-color: #f9fbf4;
  --inverted-bg-color: #a2bd3a;
  --primary-color: #9c7330;
  --secondary-color: #b68537;
  --inverted-primary-color: #f9fbf4;
  --inverted-secondary-color: #9c7330;
  --skeleton-color: #a2bd3a;
  --skeleton-shadow: #9c7330;
  --code-bg: #fff;
}
