.app.light {
  --bg-color: rgb(255 235 210 / 65.5%);
  --inverted-bg-color: darkblue;
  --primary-color: rgb(76 43 0);
  --secondary-color: burlywood;
  --inverted-primary-color: rgb(107 213 0);
  --inverted-secondary-color: rgb(0 174 174);
}
