.app_light_theme {
  --bg-color: #F9FBF4;
  --inverted-bg-color: #a2bd3a;
  --primary-color: #9C7330;
  --secondary-color: #F9FBF4;
  --inverted-primary-color: #F9FBF4;
  --inverted-secondary-color: #9C7330;
}
