.app_purple_theme {
  --bg-color: #f6f4fb;
  --inverted-bg-color: #9e8cc8;
  --primary-color: #7287bb;
  --secondary-color: #f6f4fb;
  --inverted-primary-color: #f6f4fb;
  --inverted-secondary-color: #7287bb;
}
