.app_purple_theme {
  --bg-color: #f6f4fb;
  --inverted-bg-color: #9e8cc8;
  --primary-color: #7287bb;
  --secondary-color: #7f97d3;
  --inverted-primary-color: #f6f4fb;
  --inverted-secondary-color: #7287bb;
  --skeleton-color: #9e8cc8;
  --skeleton-shadow: #7287bb;
  --code-bg: #fff;
  --card-bg: #d0cadb;;
}
