.app_purple_theme {
    --bg-color: #F6F4FB;
    --inverted-bg-color: #9e8cc8;
    --primary-color: #7287BB;
    --secondary-color: #F6F4FB;
    --inverted-primary-color: #F6F4FB;
    --inverted-secondary-color: #7287BB;
  }
  